<details class="categories">
  <summary>Categories</summary>
  @if (categories().length === 0) {
    <p>You haven't created any categories yet.</p>
  }
  @for (category of categories(); track category.id) {
    <div class="category-filter">
      <label>
        {{ category.name }}
        <input
          type="checkbox"
          [value]="category.id"
          [checked]="selectedCategoryIds().includes(category.id)"
          (change)="onCheckboxChange(category.id, $event)"
        >
      </label>
    </div>
  }
  <button type="button" (click)="selectedCategoryIds.update(() => [])">Clear</button>
  <button type="button" (click)="showCreateCategoryForm.emit()">Create</button>
  <button type="button" (click)="showDeleteCategoryForm.emit()">Delete</button>
</details>
<div class="search-controls">
  <label for="filters">
    Filters
    <select id="filters" class="search-filters" [(ngModel)]="selectedStatus">
      <option [ngValue]="null" class="search-filter">All</option>
      <option value="Done" class="search-filter">Done</option>
      <option value="Pending" class="search-filter">Pending</option>
    </select>
  </label>

  <label for="sort">
    Sort
    <select id="sort" class="sort-filters" [(ngModel)]="sortBy">
      <option value="AlphAsc" class="sort-filter">Alphabetically</option>
      <option value="AlphDsc" class="sort-filter">Alphabetically Reversed</option>
      <option value="CrtDsc" class="sort-filter">By Created Date New First</option>
      <option value="CrtAsc" class="sort-filter">By Created Date Old First</option>
      <option value="UpdDsc" class="sort-filter">By Updated Date New First</option>
      <option value="UpdAsc" class="sort-filter">By Updated Date Old First</option>
    </select>
  </label>

  <input type="text" placeholder="Search tasks..." #searchInput (keyup.enter)="onSearch.emit(searchInput.value)" />

  <button (click)="onSearch.emit(searchInput.value)">Search</button>
</div>
