<app-auth-form-layout
  [formGroup]="registerForm"
  [backendError]="backendError()"
  submitButtonText="Register"
  (formSubmit)="register()">

  @if (registerForm.get('login')?.invalid && (registerForm.get('login')?.dirty || registerForm.get('login')?.touched)) {
    <div login-errors class="flex flex-col">
      @if (registerForm.get('login')?.hasError('required')) {
        <span class="form-validation-error">Username is required.</span>
      }
      @if (registerForm.get('login')?.hasError('minlength')) {
        <span class="form-validation-error">Username should be at least 4 characters long.</span>
      }
      @if (registerForm.get('login')?.hasError('maxlength')) {
        <span class="form-validation-error">Username length should be less than 25 characters.</span>
      }
    </div>
  }

  @if (registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)) {
    <div password-errors class="flex flex-col">
      @if (registerForm.get('password')?.hasError('required')) {
        <span class="form-validation-error">Password is required.</span>
      }
      @if (registerForm.get('password')?.hasError('minlength')) {
        <span class="form-validation-error">Password should be at least 8 characters long.</span>
      }
    </div>
  }

  <label class="form-label">
    Confirm Password:
    <input type="password" formControlName="confirmPassword" class="w-full" />
  </label>

  @if ((registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)) || (registerForm.hasError('passwordMismatch') && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched))) {
    <div class="flex flex-col">
      @if (registerForm.get('confirmPassword')?.hasError('required')) {
        <span class="form-validation-error">Password confirmation is required.</span>
      }
      @if (registerForm.hasError('passwordMismatch')) {
        <span class="form-validation-error">Passwords do not match.</span>
      }
    </div>
  }

</app-auth-form-layout>
