<app-modal-layout
  [title]="isEditMode ? 'Edit Task' : 'Create New Task'"
  (onClose)="onClose.emit()"
>
  <form #taskForm="ngForm" class="flex flex-col space-y-4 my-4">
    <label class="form-label">
      Title
      <input
        id="task-title"
        name="title"
        type="text"
        maxlength="25"
        required
        [(ngModel)]="formData.title"
        #titleInput="ngModel"
        class="form-input"
      >
    </label>

    @if (titleInput.invalid && (titleInput.dirty || titleInput.touched)) {
      @if (titleInput.errors?.['required']) {
        <p class="form-validation-error">A title is required.</p>
      }
      @if (titleInput.errors?.['maxlength']) {
        <p class="form-validation-error">Title cannot be longer than 25 characters.</p>
      }
    }

    <label class="form-label">
      Description
      <textarea
        name="body"
        [(ngModel)]="formData.body"
        rows="5"
        class="form-input custom-scrollbar"
      >
      </textarea>
    </label>

    <label class="form-label">
      Categories
      <app-task-categories
        name="categoryIds"
        [categories]="categories()"
        [(selectedCategoryIds)]="selectedCategoryIds"
      />
    </label>
  </form>


  <div
    modal-footer
    class="grid gap-3 w-full"
    [class.grid-cols-2]="isEditMode"
  >
    @if (isEditMode) {
      <button
        type="button"
        (click)="onDelete.emit()"
        class="btn-danger w-full"
      >
        Delete Task
      </button>
    }

    <button
      [disabled]="taskForm.invalid ?? false"
      (click)="submitForm()"
      class="btn-primary w-full"
    >
      {{ isEditMode ? 'Save Changes' : 'Create Task' }}
    </button>
  </div>
</app-modal-layout>
