<li class="flex flex-col gap-2 p-3 bg-brand-surface rounded-lg border border-brand-border">
  <div class="flex items-center gap-4 w-full">
    <label class="flex items-center gap-3 cursor-pointer shrink min-w-0">
      <input
        type="checkbox"
        class="custom-checkbox shrink-0"
        [checked]="task().status === 'Done'"
        (change)="onToggle.emit(task())"
      />
      <span class="truncate text-base md:text-lg" [class.completed]="task().status === 'Done'">
        {{ task().title }}
      </span>
    </label>

    @if (task().categories.length) {
      <div class="hidden md:flex flex-1 min-w-0 gap-2 overflow-x-auto custom-scrollbar pb-1">
        @for (category of task().categories; track category.id) {
          <span class="text-xs md:text-sm px-2 py-0.5 rounded-full border border-brand-border bg-brand-dark text-brand-muted whitespace-nowrap shrink-0">
            {{ category.name }}
          </span>
        }
      </div>
    }

    <div class="flex items-center gap-3 shrink-0 ml-auto">
      <p class="text-xs md:text-sm text-brand-muted whitespace-nowrap">
        @if (task().isEdited) {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="15" height="15"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-pencil stroke-brand-muted inline mr-1"
          >
            <path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/>
            <path d="m15 5 4 4"/>
          </svg>
        }
        {{ (task().isEdited ? task().updatedAt : task().createdAt) | date: 'MMM d, HH:mm' }}
      </p>

      <button
        (click)="onEdit.emit(task())"
        class="text-xs md:text-sm font-semibold text-brand-primary hover:text-brand-primary-hover transition-colors whitespace-nowrap"
      >
        Edit
      </button>
    </div>
  </div>

  @if (task().categories.length) {
    <div class="flex md:hidden gap-2 overflow-x-auto custom-scrollbar pb-1 w-full">
      @for (category of task().categories; track category.id) {
        <span class="text-xs md:text-sm px-2 py-0.5 rounded-full border border-brand-border bg-brand-dark text-brand-muted whitespace-nowrap shrink-0">
          {{ category.name }}
        </span>
      }
    </div>
  }

  @if (task().body && task().body?.trim() !== '') {
    <div class="relative mt-1">
      <p
        #taskBody
        class="text-sm md:text-base text-brand-muted transition-all wrap-break-word"
         [class.line-clamp-3]="!isExpanded()">
        {{ task().body }}
      </p>
      @if (isTextOverflowing() || isExpanded()) {
        <button
          (click)="toggleExpand()"
          class="text-xs md:text-sm font-semibold text-brand-primary mt-1 hover:underline"
        >
          {{ isExpanded() ? 'Show less' : 'Show more' }}
        </button>
      }
    </div>
  }
</li>
