<main class="min-h-screen p-4 md:p-8 flex flex-col items-center">
  <header class="flex items-center justify-between">
  <h2 class="text-3xl font-bold text-brand-text mr-2">My Tasks</h2>
    <button
      (click)="logout()"
      class="text-brand-muted hover:text-brand-text text-sm transition-colors"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24" height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-log-out-icon lucide-log-out"
        class="stroke-brand-border hover:stroke-brand-danger transition-colors"
      >
        <path d="m16 17 5-5-5-5"/>
        <path d="M21 12H9"/>
        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/>
      </svg>
    </button>
  </header>

  <app-task-filter-bar
    class="container p-4 shadow-sm"
    [categories]="categories()"
    [(selectedCategoryIds)]="selectedCategoryIds"
    [(selectedStatus)]="selectedStatus"
    [(sortBy)]="sortBy"
    (sortByChange)="sortTaskPage()"
    (showCreateCategoryForm)="isCreateCategoryMenuOpen.set(true)"
    (showDeleteCategoryForm)="isDeleteCategoryMenuOpen.set(true)"
    (onSearch)="searchTerm.set($event); fetchTasks()"
  />

  @if (isLoading()) {
    <p class="text-brand-muted text-center py-10">Loading your tasks...</p>
  } @else {
    <div class="container pr-2 my-3 ">
      <ul class="flex flex-col space-y-3 max-h-[75vh] overflow-y-auto custom-scrollbar">
        @for (task of tasks() | slice:0:pageSize(); track task.id) {
          <app-task-card
            [task]="task"
            (onToggle)="toggleTask($event)"
            (onEdit)="openTaskEditMenu($event)"
          />
        } @empty {
          <p class="text-brand-muted text-center py-10">No tasks found. Create a new one!</p>
        }
      </ul>
    </div>
  }

  <app-task-pagination
    [currentPage]="currentPage()"
    [pageSize]="pageSize()"
    [tasksCount]="tasks().length"
    [isLoading]="isLoading()"
    (onNext)="nextPage()"
    (onPrevious)="previousPage()"
  />

  <button
      (click)="openTaskCreateMenu()"
      class="fixed bottom-8 right-8 bg-brand-primary hover:bg-brand-primary-hover text-white w-14 h-14 rounded-full shadow-lg flex items-center justify-center text-3xl transition-all active:scale-95"
    >
    +
  </button>

  @if (isCreateMenuOpen()) {
    <app-task-form
      [categories]="categories()"
      (onClose)="closeMenus()"
      (onCreate)="createTask($event)"
    />
  }

  @if (taskToEdit(); as task) {
    <app-task-form
      [inputTask]="task"
      [categories]="categories()"
      (onClose)="closeMenus()"
      (onUpdate)="updateTask(task.id, $event)"
      (onDelete)="openTaskDeletionConfirmation(task)"
    />
  }

  @if (taskToDelete(); as task) {
    <app-modal-layout
      title="Delete Task"
      button="Confirm"
      (onClose)="closeMenus()"
      (onSave)="deleteTask(task.id)"
    >
      <div class="delete-warning">
        <p>Are you sure you want to permanently delete <strong>{{ task.title }}</strong>?</p>
        <p>This action cannot be undone.</p>
      </div>
    </app-modal-layout>
  }

  @if (isCreateCategoryMenuOpen()) {
    <app-modal-layout
      title="Task Categories"
      button="Create Category"
      [isButtonDisabled]="!categoryName.value || categoryName.value.trim() === ''"
      (onClose)="closeMenus()"
      (onSave)="createCategory(categoryName.value)"
      >
      <label>
        Name
        <input type="text" #categoryName (input)="0"/>
      </label>
    </app-modal-layout>
  }

  @if (isDeleteCategoryMenuOpen()) {
    <app-modal-layout
      title="Task Categories"
      button="Delete"
      [isButtonDisabled]="categoriesToDeleteById().length === 0"
      (onClose)="closeMenus()"
      (onSave)="isDeleteCategoryConfirmationMenuOpen.set(true);"
      >
        <app-task-categories
          [categories]="categories()"
          [(selectedCategoryIds)]="categoriesToDeleteById"
        />
    </app-modal-layout>
  }

  @if (isDeleteCategoryConfirmationMenuOpen()) {
    <app-modal-layout
      title="Delete Selected Categories"
      button="Delete"
      [isButtonDisabled]="false"
      (onClose)="closeMenus()"
      (onSave)="deleteCategories()"
      >
       <p>This action is permanent and cannot be undone. Do you want to proceed?</p>
    </app-modal-layout>
  }
</main>
